$black: #1b1717;
$white: #f5f1e4;
$content-width: calc(max(75vw,400px));

//define colors
$dark: #4F0000;
$prim: #FF6F61;
$accent: #FF868E;
$light: #FFA0BC;
$accent2: #eec3c4;

//main stuff
.everything {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;

    .skillsBox { // skills language box
        display: flex;
        flex-direction: column;
        color: $dark;
        .skillsLeft {
            min-width: 250px;
            font-weight: 700;
        }
    }

    .lang { // language box
        min-width: 300px;
        width: 50vw;
        max-width: 36rem;
        white-space: normal;
        display: flex;
        align-items: center;
        img {
            height: calc(max(10%,10px))
        }

        .link {
            font-size: 1rem;
            font-weight: 400;
            background-color: $white;
            transition: 200ms all ease-in-out;
            display: inline-block;
            border-radius: 5rem;
            line-height: 0;
            padding: 0.25rem;
        }

        .link:hover {
            background-color: $accent2;
            transition: 200ms all ease-in-out;
        }
    }

    .paragraph { // each paragraph element
        padding: 1rem;
        padding-bottom: 0;

        .title {
            font-size: 1.3rem;
            font-weight: 900;
            color: $prim;
        }

        .description {
            font-size: 1rem;
            font-weight: 400;
            color: $dark;
        }
    }

    .bigtitle { // large heading
        font-size: 1.5rem;
        font-weight: 900;
        padding-bottom: 0;
        margin: 0;
        width: fit-content;
        white-space: nowrap;
        color: $prim;
    }

    .card { // individual items for each project
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: calc(max(70%,300px));
        white-space: nowrap;

        .title {
            font-size: 1.3rem;
            font-weight: 900;
            white-space: normal;
            color: $prim;
        }

        .description {
            font-size: 1rem;
            font-weight: 400;
            white-space: normal;
            min-width: 300px;
            width: 50vw;
            max-width: 36rem;
            color: $dark;
        }

        .imageFrame {
            min-width: 300px;
            width: 50vw;
            height: 25vh;
            max-width: 36rem;
        }
    }

    .container { // header div flex box
        height: 20%;
        display: flex;
        flex-direction: row;
        width: $content-width;

        .contentLeft {
            width: 20%;
            padding: 1rem;
        }

        .contentRight {
            width: 80%;
            padding: 1rem;
            white-space: nowrap;

            .name {
                font-size: 3rem;
                font-weight: 900;
                padding: 1rem;
                color: $prim;
                display: inline-block;
                transition: 300ms all ease-in-out;
            }

            .name:hover {
                background-color: $prim;
                color: $white;
                cursor: pointer;
                transition: 300ms all ease-in-out;
            }

            .emoji {
                font-size: 3rem;
                font-weight: 900;
                color: $black;
                padding: 0.3rem;
                display: inline-block;
                margin-left: 0.3rem;
                transition: 200ms all;
            }

            .emoji:hover {
                transform: rotate(15deg);
                transition: 200ms all;
                cursor: default;
            }
        }
    }

    .content { // content level div flex box
        height: 80%;
        width: $content-width;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    .contentLeft {
        width: 20%;
        min-width: 200px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .item {
            font-size: 1.3rem;
            font-weight: 900;
            padding: 0.2rem;
            white-space: nowrap;
            transition: 200ms all ease-in-out;
            width: fit-content;
            color: $black;
        }

        .item:hover {
            background-color: $prim;
            color: $white;
            transition: 200ms all ease-in-out;
        }
    }

    .contentRight {
        width: 80%;
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .contentLeft {
        width: 0%;
        padding: 2rem;
        display: none;

        .item {
            font-size: 1.3rem;
            font-weight: 900;
            padding: 0.2rem;
            white-space: nowrap;
            transition: 200ms all ease-in-out;
            width: fit-content;
            float: right;
        }

        .item:hover {
            background-color: $black;
            color: white;
            transition: 200ms all ease-in-out;
        }
    }

    .contentRight {
        width: 100%;
        padding: 1rem;
    }
}